name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: |
          3.1.x
          6.0.x
        include-prerelease: true
    - name: Restore dependencies
      run: dotnet restore
    - name: Build Analyzer
      run: dotnet build ReadonlyLocalVariables/ReadonlyLocalVariables.Analyzer.csproj --no-restore -p:langversion=latest -p:TargetFramework=netstandard2.0
    - name: Build CodeFix
      run: dotnet build ReadonlyLocalVariables.CodeFixes/ReadonlyLocalVariables.CodeFixes.csproj --no-restore -p:langversion=latest -p:TargetFramework=netstandard2.0
    - name: Build Test
      run: dotnet build ReadonlyLocalVariables.Test/ReadonlyLocalVariables.Test.csproj --no-restore -p:langversion=latest -p:TargetFramework=netcoreapp3.1
    - name: Test
      run: dotnet test ReadonlyLocalVariables.sln --no-build --verbosity normal
